In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
sns.set_style('whitegrid')

Reading from dataset

In [4]:
df = pd.read_csv('StudentsPerformance.csv')

Data Overview

In [5]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
df.head

<bound method NDFrame.head of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

In [4]:
df.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

In [6]:
df.describe

<bound method NDFrame.describe of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [8]:
df.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

Exploratory Data Analysis

Below we visualize the distributions and relationships in the dataset to understand how features relate to student performance.

In [28]:
df.groupby("race/ethnicity")[["math score", "reading score", "writing score"]].mean().round(2)

avg_scores = (
    df.groupby("race/ethnicity")[["math score", "reading score", "writing score"]]
      .mean()
      .round(2)
      .reset_index()
)

avg_scores

  race/ethnicity  math score  reading score  writing score
0        group A       61.63          64.67          62.67
1        group B       63.45          67.35          65.60
2        group C       64.46          69.10          67.83
3        group D       67.36          70.03          70.15
4        group E       73.82          73.03          71.41

In [32]:
df["race/ethnicity"].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [36]:
print("Overall group score average: ")

df["average score"] = df[["math score", "reading score", "writing score"]].mean(axis=1)

df.groupby("race/ethnicity")["average score"].mean().round(2)

Overall group score average:

race/ethnicity
group A    62.99
group B    65.47
group C    67.13
group D    69.18
group E    72.75
Name: average score, dtype: float64

In [37]:
df[["math score", "reading score", "writing score"]].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [38]:
df["race/ethnicity"].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [39]:
df["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [40]:
df["test preparation course"].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [41]:
df.groupby("parental level of education")[["math score","reading score","writing score"]].mean()

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

In [42]:
print("Overall group score average: ")

df["average score"] = df[["math score", "reading score", "writing score"]].mean(axis=1)

df.groupby("parental level of education")["average score"].mean().round(2)

Overall group score average:

parental level of education
associate's degree    69.57
bachelor's degree     71.92
high school           63.10
master's degree       73.60
some college          68.48
some high school      65.11
Name: average score, dtype: float64

In [43]:
df.groupby("test preparation course")[["math score","reading score","writing score"]].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Comparing multiple factors

Within the same race, does test prep still matter?

In [44]:
df.groupby(
    ["race/ethnicity", "test preparation course"]
)[["math score","reading score","writing score"]].mean()

                                        math score  reading score  \
race/ethnicity test preparation course
group A        completed                 68.258065      71.032258
               none                      58.086207      61.275862
group B        completed                 67.191176      72.852941
               none                      61.368852      64.286885
group C        completed                 67.495726      73.658120
               none                      62.707921      66.465347
group D        completed                 69.792683      74.146341
               none                      66.255556      68.155556
group E        completed                 77.433333      76.666667
               none                      71.112500      70.300000

                                        writing score
race/ethnicity test preparation course
group A        completed                    70.903226
               none                         58.275862
group B        completed                    71.882353
               none                         62.098361
group C        completed                    74.452991
               none                         63.990099
group D        completed                    76.658537
               none                         67.177778
group E        completed                    75.983333
               none                         67.975000

Analyzing parental education vs test scores

In [49]:
df.groupby(
    ["race/ethnicity", "parental level of education"]
)[["math score","reading score","writing score"]].mean()

                                            math score  reading score  \
race/ethnicity parental level of education
group A        associate's degree            61.000000      67.071429
               bachelor's degree             67.166667      68.083333
               high school                   60.444444      62.888889
               master's degree               57.666667      64.666667
               some college                  63.888889      65.777778
               some high school              58.916667      62.083333
group B        associate's degree            66.097561      69.585366
               bachelor's degree             69.300000      72.950000
               high school                   59.791667      63.458333
               master's degree               67.166667      80.166667
               some college                  63.189189      65.756757
               some high school              61.815789      66.447368
group C        associate's degree            66.730769      71.128205
               bachelor's degree             68.150000      75.675000
               high school                   60.906250      64.421875
               master's degree               67.052632      70.526316
               some college                  65.130435      69.420290
               some high school              60.551020      65.632653
group D        associate's degree            67.600000      70.540000
               bachelor's degree             67.571429      70.142857
               high school                   62.863636      64.409091
               master's degree               72.521739      77.173913
               some college                  68.731343      70.880597
               some high school              66.760000      69.980000
group E        associate's degree            74.897436      73.820513
               bachelor's degree             76.555556      74.833333
               high school                   70.772727      70.318182
               master's degree               74.625000      82.125000
               some college                  73.828571      72.628571
               some high school              72.111111      69.555556

                                            writing score
race/ethnicity parental level of education
group A        associate's degree               63.571429
               bachelor's degree                68.333333
               high school                      60.500000
               master's degree                  67.666667
               some college                     65.000000
               some high school                 58.583333
group B        associate's degree               68.243902
               bachelor's degree                71.650000
               high school                      61.250000
               master's degree                  77.166667
               some college                     64.189189
               some high school                 64.605263
group C        associate's degree               70.269231
               bachelor's degree                75.900000
               high school                      61.656250
               master's degree                  69.526316
               some college                     68.869565
               some high school                 63.285714
group D        associate's degree               69.860000
               bachelor's degree                71.892857
               high school                      63.159091
               master's degree                  79.739130
               some college                     71.701493
               some high school                 69.100000
group E        associate's degree               73.205128
               bachelor's degree                75.388889
               high school                      67.545455
               master's degree                  80.500000
               some college                     70.200000
               some high school                 66.555556